@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.app {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 100vh;

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $dark-blue;
    color: white;
    text-align: center;
    text-justify: center;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .header-text {
      font-size: 24pt;
    }


    .header-author {
      color: lightblue;

      .author-link {
        color: lightblue;
        outline: none;
      }
    }
  }

  .page-container {
    width: 80%;
    // margin-left: 15%;
  }
}

body {
  // background-color: $background;
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu Mono';
  font-size: 14pt;
}

textarea {
  font-family: 'Ubuntu Mono';
  font-size: 14pt;
}

input {
  font-family: 'Ubuntu Mono';
  font-size: 14pt;
}

@media screen and (min-width: 1024px) {
  .page-container {
    width: 70% !important;
  }
}