@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-color: $background;
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu Mono';
  font-size: 14pt;
}

textarea {
  font-family: 'Ubuntu Mono';
  font-size: 14pt;
}

input {
  font-family: 'Ubuntu Mono';
  font-size: 14pt;
}