.control-bar {
  
  // align-self: flex-end;
  // width: 80vw;
  // margin: 20px;
  margin-top: 10em;
  // margin-right: 15%;
  padding: 20px;
  background-color: slategrey;

  .control-item {
    padding: 20px;
  }
}