.html-box::-webkit-scrollbar {
  display: none;
}

textarea {
  overflow: scroll;
  white-space: pre;
  word-wrap: break-word;
}

.html-box {
  width: 100%;
  text-decoration: none;
  resize: none;
  outline: none;
  border: solid thin #05A;
  margin-bottom: 4vh;
  padding: 10px;
  height: 32vh;
  overflow-x: scroll;
  box-shadow: 1px 1px 7px inset #aaa;
  border-radius: 10px;
  word-wrap: normal;
  scrollbar-width: none;
}
.html-box .html {
  overflow-x: scroll;
  font-family: "Ubuntu Mono";
  color: red;
}

.convert-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 4vh;
  border-radius: 100px;
  border: solid thin #05A;
  padding: 10px;
  font-size: 20pt;
  box-shadow: 1px 1px 10px #aaa;
}
.convert-button p {
  display: inherit;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.convert-button span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.convert-button:hover {
  background-color: #05A;
  cursor: pointer;
  color: white;
}
.convert-button:hover .icon {
  color: white;
  stroke: white;
}

.convert-button-disabled {
  background-color: #aaa !important;
  border-color: #aaa !important;
  color: #ddd !important;
  box-shadow: none !important;
}
.convert-button-disabled .icon {
  color: #ddd;
  stroke: #ddd !important;
}

.convert-button-working {
  -webkit-animation: BOX-SHADOW-PULSE 1s infinite;
  /* Safari 4+ */
  -moz-animation: BOX-SHADOW-PULSE 1s infinite;
  /* Fx 5+ */
  -o-animation: BOX-SHADOW-PULSE 1s infinite;
  /* Opera 12+ */
  animation: BOX-SHADOW-PULSE 1s infinite;
}

.output-container {
  width: 100%;
  height: auto;
  border: solid thin #05A;
  background-color: #42469a;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 60px;
  box-shadow: 1px 1px 10px inset black;
  scrollbar-width: none;
}
.output-container #jsx-text {
  color: lightblue;
  overflow-x: scroll;
  height: 32vh;
  width: 100%;
  resize: none;
  background-color: unset;
  text-decoration: none;
  border: none;
  outline: none;
  scrollbar-width: none;
}

.copy-alert {
  position: fixed;
  bottom: 1.5vh;
  z-index: 100;
  background-color: #5DF6A7;
  color: #087A40;
  padding: 9px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #aaa;
  transition: 0.2s;
  font-size: 16pt;
}

.alert-hidden {
  bottom: 0px;
  opacity: 0;
}

@-webkit-keyframes BOX-SHADOW-PULSE {
  0% {
    box-shadow: 0px 0px 2px 2px white;
  }
  50% {
    box-shadow: 0px 0px 10px 10px white;
  }
  100% {
    box-shadow: 0px 0px 2px 2px white;
  }
}
@-moz-keyframes BOX-SHADOW-PULSE {
  0% {
    box-shadow: 0px 0px 2px 2px white;
  }
  50% {
    box-shadow: 0px 0px 10px 10px white;
  }
  100% {
    box-shadow: 0px 0px 2px 2px white;
  }
}
@-o-keyframes BOX-SHADOW-PULSE {
  0% {
    box-shadow: 0px 0px 2px 2px white;
  }
  50% {
    box-shadow: 0px 0px 10px 10px white;
  }
  100% {
    box-shadow: 0px 0px 2px 2px white;
  }
}
@keyframes BOX-SHADOW-PULSE {
  0% {
    box-shadow: 0px 0px 2px 2px white;
  }
  50% {
    box-shadow: 0px 0px 10px 10px white;
  }
  100% {
    box-shadow: 0px 0px 2px 2px white;
  }
}

/*# sourceMappingURL=converter.css.map */
